Repository efabless/caravel, pull requests merged in 2022-10, with the labels that each got.

#142 Remove mgmt protect tristates
  docs/source/_static/die_pads.svg
  docs/source/memory-mapped-io-summary.rst
  manifest
  verilog/rtl/mgmt_protect.v
Labels: RTL

#122 Fix direct power connections
  manifest
  verilog/rtl/caravan.v
  verilog/rtl/caravan_netlists.v
  verilog/rtl/caravel.v
  verilog/rtl/caravel_netlists.v
  verilog/rtl/chip_io.v
  verilog/rtl/chip_io_alt.v
  verilog/rtl/constant_block.v
  verilog/rtl/gpio_control_block.v
  verilog/rtl/mprj_io.v
  verilog/rtl/pads.v
Labels: error, RTL

#151 Remove SRAM read-only interface
  manifest
  verilog/rtl/caravan.v
  verilog/rtl/caravel.v
  verilog/rtl/housekeeping.v
Labels: RTL

#153 Added spare logic blocks for GPIO
  manifest
  verilog/rtl/caravan.v
  verilog/rtl/caravel.v
Labels: enhancement, RTL

#154 152 add pass thru for clock and reset
  manifest
  verilog/rtl/caravan.v
  verilog/rtl/caravel.v
Labels: RTL

#157 Effectively reverted the change to add spare logic blocks near each
  manifest
  verilog/rtl/caravan.v
  verilog/rtl/caravel.v
Labels: RTL

#233 Rewrote the layout for mgmt_protect_hv after correcting the pins,
  gds/mgmt_protect_hv.gds.gz
  lef/mgmt_protect_hv.lef
  mag/mgmt_protect_hv.mag
Labels: PnR

#213 Add top level buffers
  def/gpio_signal_buffering.def
  def/gpio_signal_buffering_alt.def
  gds/gpio_signal_buffering.gds.gz
  gds/gpio_signal_buffering_alt.gds.gz
  lef/gpio_signal_buffering.lef
  lef/gpio_signal_buffering_alt.lef
  mag/gpio_signal_buffering.mag
  mag/gpio_signal_buffering_alt.mag
  manifest
  verilog/rtl/caravan.v
  verilog/rtl/caravan_netlists.v
  verilog/rtl/caravel.v
  verilog/rtl/caravel_netlists.v
  verilog/rtl/gpio_signal_buffering.v
  verilog/rtl/gpio_signal_buffering_alt.v
Labels: RTL, PnR

#246 Add bounding box to the GPIO signal buffering layout
  def/gpio_signal_buffering.def
  def/gpio_signal_buffering_alt.def
  gds/gpio_signal_buffering.gds.gz
  gds/gpio_signal_buffering_alt.gds.gz
  lef/gpio_signal_buffering.lef
  lef/gpio_signal_buffering_alt.lef
  mag/gpio_signal_buffering.mag
  mag/gpio_signal_buffering_alt.mag
  scripts/chip_io_prep.sh
Labels: PnR

#252 Adjustments to the top level buffering cells
  def/gpio_signal_buffering.def
  def/gpio_signal_buffering_alt.def
  gds/gpio_signal_buffering.gds.gz
  gds/gpio_signal_buffering_alt.gds.gz
  lef/gpio_signal_buffering.lef
  lef/gpio_signal_buffering_alt.lef
  mag/gpio_signal_buffering.mag
  mag/gpio_signal_buffering_alt.mag
  manifest
  scripts/chip_io_prep.sh
  verilog/rtl/caravan.v
  verilog/rtl/caravel.v
  verilog/rtl/gpio_signal_buffering.v
  verilog/rtl/gpio_signal_buffering_alt.v
Labels: PnR

#260 More changes to the GPIO buffer cell
  def/gpio_signal_buffering.def
  def/gpio_signal_buffering_alt.def
  gds/gpio_signal_buffering.gds.gz
  gds/gpio_signal_buffering_alt.gds.gz
  lef/gpio_signal_buffering_alt.lef
  mag/gpio_signal_buffering.mag
  mag/gpio_signal_buffering_alt.mag
  manifest
  verilog/gl/gpio_signal_buffering.v
  verilog/rtl/gpio_signal_buffering_alt.v
Labels: RTL, PnR

#280 Add a script that adds isolated substrate markers to layout.
  scripts/add_isosub_layers.sh
Labels: flow

#177 Create top-level LEF and pin generation script.
  lef/caravel.lef
  mag/copyright_block.mag
  mag/copyright_block_a.mag
  scripts/create_top_pins.sh
Labels: PnR

#281 Small change to the signal buffer layouts for LVS.
  def/gpio_signal_buffering.def
  def/gpio_signal_buffering_alt.def
  gds/gpio_signal_buffering.gds.gz
  gds/gpio_signal_buffering_alt.gds.gz
  lef/gpio_signal_buffering.lef
  lef/gpio_signal_buffering_alt.lef
  mag/gpio_signal_buffering.mag
  mag/gpio_signal_buffering_alt.mag
Labels: PnR

#296 Fixes to chip_io to fix LVS issues. Also added back top level
  mag/caravan.mag
  mag/caravel.mag
  mag/caravel_power_routing.mag
  mag/chip_io.mag
  mag/chip_io_alt.mag
  mag/chip_io_gpio_connects.mag
  mag/gpio_control_block.mag
  mag/mgmt_core_wrapper.mag
  scripts/create_top_pins.sh
Labels: PnR

#145 Added extract unique to lvs-gds-cell target.
  Makefile
Labels: flow

#314 Better error handling in gen_gpio_defaults.py script
  scripts/gen_gpio_defaults.py
Labels: flow

#132 Corrected the illustration of die pads
  docs/source/_static/die_pads.svg
Labels: documentation

#317 Fix errors in caravan top level RTL
  manifest
  verilog/rtl/caravan.v
Labels: error, RTL

#324 Syntax changes that are non-functional from a synthesis perspective.
  manifest
  verilog/rtl/housekeeping.v
  verilog/rtl/housekeeping_spi.v
Labels: RTL, flow

#330 Fixes to caravan for LVS and ERC
  mag/chip_io_alt.mag
  manifest
  verilog/rtl/caravan.v
Labels: error, RTL, PnR

#343 Added decap cells to gl/gpio_signal_buffering_alt.v
  verilog/gl/gpio_signal_buffering_alt.v
Labels: PnR
